<html>
    <head></head>
 <body>
    <header>
        <img src = "../../assets/images/mail_logo.png" class = "logo" alt="logo">
        <div class="name-div">Luxmail</div>
        <input type="text" placeholder="Search..." class = "search-input" #inputSearch>
      <button class = "clear-button">X</button>
        <button class="search-button" type="button">
            Search
          <i class="fas fa-search"></i>
        </button>
        <div class = "settings-div">
            <div><button class = "settings-button">Settings</button></div>
            
          <div><button class = "sign-out-button" (click)="signOut()">Sign Out</button></div>
        </div>
    </header>
<div class = "main-div">
  <div class = "title-div"><label #title class = "title-label"></label></div>
  <div class = "from-to-div"><label #from_to class = "from-to-label"></label></div>
  <div class = 'text-div'><input #text type="text" class = "mail-text" readonly></div>
  <div class = "button-div">
    <button (click) = "reply()">Reply</button>
    <button class = "close-button" (click) = "close()">Close</button>
  </div>

</div>
</body>
</html>

